.header {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  div {
    display: flex;
    flex-basis: 100px;
    h1 {
      margin: 0;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1000px) {
      justify-content: space-around;
      align-items: center;
      flex-basis: 1300px;
      flex-direction: row;
    }
  }
}
